.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 80px;
    z-index: 1;
    background-color: black;

    display: flex;
    justify-content: space-between;

    /* Animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black {
    background-color: #111;
}

.logo {
    position: fixed;
    left: 100px;
    width: 180px;
    object-fit: contain;
    
}

.button {
    text-align: center;
    position: fixed;
    right: 20px;
    height: 39px;
    object-fit: contain;
    background-color: black;
    border:1px solid white;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:3px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}
.button:hover {
    background-color: white;
    color: black;
}