.lectures {
    display: flex;
}

.pre__button {
    height: 280px;
    border: none;
}



.next__button {
    position: absolute;
    height: 280px;
    right: 100px;
    border: none;
}

button:hover {
    background-color: whitesmoke;
    border: 1px solid #ccc;
}
