.row {
    margin-left: 20px;
    color: black;
}

.row__lectures {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll; 
    padding: 0 20px; 
}

.row__lectures::-webkit-scrollbar {
    display: none;
}


